{# add this at the beginning of your template #}
{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}
{% extends 'base.html.twig' %}

{% block body %}


    <div class="col-md-4 offset-4">
        <div class="well">
{#            {{ form_start(form, {'attr': {'class': 'border border-light p-5'}}) }}#}
            <form method="post" class="border border-light p-5">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <p class="h4 mb-4 text-center">Sign in</p>
    {#            {{ form_widget(form.pseudo, {'attr': {'class': 'form-control mb-4', 'placeholder': 'Pseudo'}})}}#}
    {#            {{ form_widget(form.motDePasse, {'attr': {'class': 'form-control mb-4', 'placeholder': 'Mot de passe'}}) }}#}
    {#            <input name="_username" id="_username">#}

                <input class="form-control mb-4" type="text" value="{{ last_username }}" name="_username" id="pseudo" required autofocus>
                <input class="form-control mb-4"  type="password" name="_password" id="motDePasse" >
                <div class="d-flex justify-content-between">
                    <div>
{#                        <div class="custom-control custom-checkbox">#}
{#                            <input type="checkbox" class="custom-control-input" id="remember_me" name="remember_me">#}
{#                            <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>#}
{#                        </div>#}
                        <div class="custom-control custom-checkbox">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    </div>
                    <div>
                        <a href="">Forgot password?</a>
                    </div>
                </div>
                <button class="btn btn-info btn-block my-4" type="submit">OK</button>
            </form>
{#            <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>#}
{#            {{ form_widget(form.submit,{'attr': {'class': 'btn btn-info btn-block my-4', 'placeholder': 'OK'}}) }}#}
{#            {{ form_rest(form) }}#}
{#            {{ form_end(form) }}#}
        </div>
    </div>

{% endblock %}





{#    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{#    <label for="inputEmail" class="sr-only">Email</label>#}
{#    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>#}
{#    <label for="inputPassword" class="sr-only">Password</label>#}
{#    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>#}

{#    <input type="hidden" name="_csrf_token"#}
{#           value="{{ csrf_token('authenticate') }}"#}
{#    >#}

