{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

    <div class="row mt-4">
        <div class="border border-light p-5 col-md-4 offset-4">
            <p class="h4 mb-4 text-center">{{ participant.pseudo }}</p>
            <div class="row">
                <div class="col-md-6"><p>Nom : </p></div>
                <div class="col-md-6"><p>{{ participant.prenom }} {{ participant.nom }}</p></div>
            </div>

            <div class="row">
                <div class="col-md-6"><p>Téléphone : </p></div>
                <div class="col-md-6"><p>{{ participant.telephone }}</p></div>
            </div>

            <div class="row">
                <div class="col-md-6"><p>Mail : </p></div>
                <div class="col-md-6"><p>{{ participant.mail }}</p></div>
            </div>

            <div class="row">
                <div class="col-md-6"><p>Site : </p></div>
                <div class="col-md-6"><p>{{ participant.sitesNoSite}}</p></div>
            </div>


            {%  if (participant.pseudo == app.user)%}
                <a href="{{ path('ModifierProfil') }}">Modifer</a>
            {%  endif %}

        </div>
    </div>


        </div>




    <!-- /.row -->
{% endblock %}