{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <header> Nouveau Profil \o/</header>
    <div>
        {{ form_start(nouveauProfil) }}

        <div class="group">
            {{ form_label(nouveauProfil.pseudo) }}
            {{ form_widget(nouveauProfil.pseudo) }}
            {{ form_errors(nouveauProfil.pseudo) }}
        </div>

        <div class="group">
            {{ form_label(nouveauProfil.nom) }}
            {{ form_widget(nouveauProfil.nom) }}
            {{ form_errors(nouveauProfil.nom) }}
        </div>

        <div class="group">
            {{ form_label(nouveauProfil.prenom) }}
            {{ form_widget(nouveauProfil.prenom) }}
            {{ form_errors(nouveauProfil.prenom) }}
        </div>

        <div class="group">
            {{ form_label(nouveauProfil.telephone) }}
            {{ form_widget(nouveauProfil.telephone) }}
            {{ form_errors(nouveauProfil.telephone) }}
        </div>

        <div class="group">
{#            {{ form_label(nouveauProfil.mail) }}#}
{#            {{ form_widget(nouveauProfil.mail) }}#}
{#            {{ form_errors(nouveauProfil.mail) }}#}
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email">
        </div>

        <div class="group">
{#            {{ form_label(nouveauProfil.motDePasse) }}#}
{#            {{ form_widget(nouveauProfil.motDePasse) }}#}
{#            {{ form_errors(nouveauProfil.motDePasse) }}#}
            <label for="mdp">Mot de passe</label><br>
            <input type="password" name="mdp" id="mdp">
        </div>

        <div class="group">
            <label for="confirmMdp">Confirmer mot de passe</label><br>
            <input type="password" name="confirmMdp" id="confirmMdp">
        </div>



        <button type="submit">valider</button>
        {{ form_end(nouveauProfil) }}
    </div>

    <div>
        {{ parent() }}
    </div>



{% endblock %}
