{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <!-- Sidebar Widgets Column -->
        <div class="col-md-8 offset-2">
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Nouvelle sortie</h5>
                <div class="card-body">
                    {{ form_start(nouvelleSortie, {'attr': {'class': 'border border-light p-5'}}) }}
                    <div class="row">
                        <div class="input-group col-md-6">
                            <label>Nom</label>
                        </div>
                        <div class="input-group col-md-6">
                            <label>Site</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-md-4">
                            {{ form_widget(nouvelleSortie.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                            {{ form_errors(nouvelleSortie.nom) }}
                        </div>
                        <div class="input-group col-md-4 offset-2">
                            {{ form_widget(nouvelleSortie.sortiesNoSortie, {'attr': {'class': 'browser-default custom-select mb-4', 'placeholder': 'Num Sortie'}}) }}
                            {{ form_errors(nouvelleSortie.sortiesNoSortie) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-md-6">
                       <label>Date début</label>
                        </div>
                        <div class="input-group col-md-6">
                       <label>Date cloture</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-md-4">
                            {{ form_widget(nouvelleSortie.datedebut, {'attr': {'class': 'form-control', 'type': 'date'}}) }}
                            {{ form_errors(nouvelleSortie.datedebut) }}
                        </div>
                        <div class="input-group col-md-4 offset-2">
                            {{ form_widget(nouvelleSortie.datecloture, {'attr': {'class': 'form-control mb-4', 'type': 'date'}}) }}
                            {{ form_errors(nouvelleSortie.datecloture) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-md-6">
                            <label>Nombre d'inscrits max</label>
                        </div>
                        <div class="input-group col-md-6">
                            <label>Durée (en minute)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-md-2">
                            {{ form_widget(nouvelleSortie.nbinscriptionsmax, {'attr': {'class': 'form-control mb-4'}}) }}
                            {{ form_errors(nouvelleSortie.nbinscriptionsmax) }}
                        </div>
                        <div class="input-group col-md-2 offset-4">
                            {{ form_widget(nouvelleSortie.duree, {'attr': {'class': 'form-control mb-4', 'min': '10'}}) }}
                            {{ form_errors(nouvelleSortie.duree) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-md-6">
                            <label>Lieu : </label>
                        </div>
                        <div class="input-group col-md-6">
                            <label>Ville : </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-md-4">
                            {{ form_widget(nouvelleSortie.lieuxNoLieu, {'attr': {'class': 'chg browser-default custom-select mb-4', 'placeholder': 'Lieu'}}) }}
                            {{ form_errors(nouvelleSortie.lieuxNoLieu) }}
                        </div>
                        <div class="input-group col-md-4 offset-2">
                            <select name="lieuSelect"  class="chg browser-default custom-select mb-4" id="ville">
                                <option></option>
                                {% for ville in villes %}
                                    <option value="{{ ville.noVille }}">{{ ville.nomVille }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-md-6">
                            <label>Rue : <br/></label><p id="rue"></p>
                        </div>
                        <div class="input-group col-md-6">
                            <label>Code postal : <br/></label><p id="codepostal"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-md-6">
                            <label>Longitude : <br/></label><p id="longitude"></p>
                        </div>
                        <div class="input-group col-md-6">
                            <label>Latitude : <br/></label><p id="lattitude"></p>
                        </div>
                    </div>
                    <div class="input-group">
                        {{ form_widget(nouvelleSortie.descriptioninfos, {'attr': {'class': 'form-control mb-4', 'placeholder': 'Description'}}) }}
                        {{ form_errors(nouvelleSortie.descriptioninfos) }}
                    </div>

                    <div class="input-group">
                        {{ form_widget(nouvelleSortie.villes_no_ville, {'attr': {'class': 'form-control mb-4', 'placeholder': 'Description'}}) }}
                        {{ form_errors(nouvelleSortie.villes_no_ville) }}
                    </div>

                    <span class="input-group-btn">
                        {{ form_widget(nouvelleSortie.creer, {'attr': {'class': 'btn btn-secondary mt-2'}}) }}
                        {{ form_widget(nouvelleSortie.creer_et_ouvrir, {'attr': {'class': 'btn btn-secondary mt-2'}}) }}
                    </span>
                    {{ form_end(nouvelleSortie) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
