{%  block body %}
    <!-- Sidebar Widgets Column -->
    <div class="col-md-3">
        <!-- Search Widget -->
        <div class="card my-4">
            <h5 class="card-header">Filtrer les sorties</h5>
            <div class="card-body">
                <form method="post">
                    <div class="input-group mt-2">
                        <input type="text" class="form-control" name="recherche" value="{{ formRecherche}}" placeholder="Le nom contient...">
                    </div>
                    <label class="mt-2">Entre</label>
                    <div class="input-group">
                        <input type="date" name="dateMin" value="{{formDateMin}}" class="form-control">
                    </div>
                    <label class="mt-2">et</label>
                    <div class="input-group">
                        <input type="date" name="dateMax" value="{{formDateMax}}" class="form-control">
                    </div>
                    <div class="form-group mt-2">

                        <label for="exampleFormControlSelect1">Site</label>
                        <select class="form-control" name="site" id="exampleFormControlSelect1">
                            {% for site in Sites %}
                                {% if formSite==site.getNoSite() %}
                                    <option value="{{ site.getNoSite() }}" selected="selected">{{site}}</option>
                                {% else %}
                                    <option value="{{ site.getNoSite() }}" >{{site}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>

                    </div>
                    <div class="form-check">
                        {% if formOrganisateur != "" %}
                            <input class="form-check-input" type="checkbox" name="organisateur" value="5" id="checkOrganisateur" checked>
                        {% else %}
                            <input class="form-check-input" type="checkbox" name="organisateur" value="5" id="checkOrganisateur">
                        {% endif %}

                        <label class="form-check-label" for="checkOrganisateur">
                            Je suis organisateur/trice
                        </label>
                    </div>
                    <div class="form-check">
                        {% if formInscrit != "" %}
                            <input class="form-check-input" type="checkbox" name="inscrit" value="true" id="checkInscrit" checked>
                        {% else %}
                            <input class="form-check-input" type="checkbox" name="inscrit" value="true" id="checkInscrit">
                        {% endif %}

                        <label class="form-check-label" for="checkInscrit">
                            Je suis inscrit/e
                        </label>
                    </div>
                    <div class="form-check">
                        {% if formPasInscrit != "" %}
                            <input class="form-check-input" type="checkbox" name="pasInscrit" value="true" id="checkPasInscrit" checked>
                        {% else %}
                            <input class="form-check-input" type="checkbox" name="pasInscrit" value="true" id="checkPasInscrit">
                        {% endif %}

                        <label class="form-check-label" for="checkPasInscrit">
                            Je ne suis pas inscrit/e
                        </label>
                    </div>
                    <div class="form-check">
                        {% if formPasser != "" %}
                            <input class="form-check-input" type="checkbox" name="passer" value="true" id="checkPassées" checked>
                        {% else %}
                            <input class="form-check-input" type="checkbox" name="passer" value="true" id="checkPassées">
                        {% endif %}

                        <label class="form-check-label" for="checkPassées">
                            Sorties passées
                        </label>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary mt-2" type="submit">Filtrer</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
{% endblock %}