{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
        <div class="row mt-4">
            <!-- Post Content Column -->
            <div class="col-lg-9">
                <div class="row">
                    <!-- Title -->
                    <div class="col-md-4"><h1>Les sorties</h1></div>
                    <div class="col-md-2 offset-6">
                        <a href="{{ path('NouvelleSortie') }}" class="btn btn btn-light mt-3">Nouvelle sortie</a>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Etat
                        </th>
                        <th>
                            Nom
                        </th>
                        <th>
                            Horraire
                        </th>
                        <th>
                            Clôture
                        </th>
                        <th>
                            Places restantes
                        </th>
                        <th>
                            Inscrit
                        </th>
                        <th>
                            Organisateur
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sortie in Sorties %}
                        {% if not (sortie.getEtatsNoEtat() == "Créée" and app.user!=sortie.getOrganisateur()) %}
                            <tr>
                                {{ include('/accueil/_gestionEtat.html.twig')}}
                                <td>
                                    <a href="{{ path('AfficherSortie', { 'noSortie': sortie.getNoSortie() }) }}">{{sortie.getNom()}}</a>
                                </td>
                                <td>
                                    {{sortie.getDatedebut().format('d/m/Y H:i')}}
                                </td>
                                <td>
                                    {{sortie.getDatecloture().format('d/m/Y H:i')}}
                                </td>
                                {{ include('/accueil/_gestionNombreParticipation.html.twig')}}
                                {% if(app.user in sortie.getParticipantsNoParticipant) %}
                                <td>
                                    X
                                </td>
                                {% else %}
                                    <td>
                                    </td>
                                {% endif %}
                                <td>
                                    {{ sortie.getOrganisateur()}}
                                </td>
                                {{ include('/accueil/_gestionAction.html.twig')}}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {{ include('/accueil/_filtre.html.twig')}}
        </div>
        <!-- /.row -->
{% endblock %}
